@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


:root{
--Cyan: hsl(179, 62%, 43%);
--BrightYellow: hsl(71, 73%, 54%);
--LightGray: hsl(204, 43%, 93%);
--GrayishBlue: hsl(218, 22%, 67%);

}

*{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    
    
}

p, h1{

    Letter-spacing: -0.17px
}

html{
   
    
    
}

body{
   
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--LightGray);
   
   

}

.card{
    display: flex;
    flex-direction: column;
    width:635px;
    height: 475px;
    border-radius: 10px;
    

}

.card .top{
    background-color: rgb(255, 255, 255);
    height: 53%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2.5rem;
}

.card .top > h1{
    color:var(--Cyan);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    

}

.card .top > h3{
    color: var(--BrightYellow);
    font-size: 1.1rem;
}

.card .top > p{
    color: var(--GrayishBlue);
    padding-top: 0.7rem;
    line-height: 1.6rem;
}

.card .bottom{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  
    
    
}

.card .bottom .left{    
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:var(--Cyan);
    padding: 2.4rem;
    border-bottom-left-radius: 10px;
    
}

h2{
    font-size: 1.1rem;
    color: var(--LightGray);
}


.card .bottom .left .price-box{
    padding-top: .8rem;
    display:flex;   
    
}


.card .bottom .left .pris-text{
    color: hsla(0, 0%, 100%, 0.514);
    padding-top: 0.6rem;
    
}

.card .bottom .left .pris{
    font-size: 2rem;
    font-weight: 700;
    color: white;
    padding-right: .8rem;
}

.card .bottom .left > p{
    color: var(--LightGray);
}

.card .bottom .left > button{
    border: none;
    width: 100%;
    background-color: var(--BrightYellow);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    padding: 0.9rem;
    border-radius: 5px;
    margin-top: 1.4rem;
    filter:drop-shadow(0 10px 10px rgba(0, 0, 0, 0.0973))
}

.card .bottom .right{
    
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:hsla(179, 62%, 43%, 0.829);
    padding: 2.4rem;
    border-bottom-right-radius: 10px;
    
    
    
}

.card .bottom .right > h2{
    
    padding-left: 0.1rem;
}

.card .bottom .right .text{
    
    padding-top: 1rem;
       
}


.card .bottom .right .text > p{
    
    color: hsla(203, 44%, 93%, 0.815);;
    font-size: 0.88rem;
    line-height: 20px;
   
}

@media screen and (max-width: 730px){

    *{
        font-size: 14px;
    }
    
    .card{
        width: 80%;
        height: 80%;
        justify-content: center;
        text-align: center;        
    }

    .card .bottom{
        flex-direction: column;
        
        
    }
    
    .card .bottom .left{
        width: 100%;
        height: 100%;
        align-items: center;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        
      
        
        
    }

    .card .bottom .right{
        width: 100%;
        height: 100%;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

@media screen and (max-width: 375px){
    .card{
        text-align: left;
        width: 311px;
    }

    .card .bottom .left{
        width: 100%;
        height: 100%;
        align-items:flex-start;
    }

    .card .bottom .right{
       padding: 1.8rem;
    }

    .card .top > p{
        padding-top: 1rem;
        line-height: 26px;
    }
    
    .card .top {
        padding: 2rem;
    }

    .card .bottom .left {
        padding: 2rem;
    
    }

    .card .bottom .left > button {
       
        margin-top: 2rem;
        
    }

    .card .bottom .left .price-box{
        padding-bottom: .6rem;
    }

}